/* .flex_container {
  display: flex;
  justify-content: space-between;
} */

@font-face {
  font-family: cerebri-bold;
  src: url(../font/Cerebri\ Sans\ Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: cerebri-bold;
}

.fontsize {
  /* font: normal normal bold Cerebri Sans; */
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  font-family: cerebri-bold;
}
.mainImg {
  width: 100%;
  height: auto;
}

.imgcontainer {
  width: 100%;
  height: auto;
  margin: 5% 0;
}
.background_color {
  background: linear-gradient(
    103deg,
    rgb(164, 15, 197) 5%,
    rgba(103, 48, 236, 1) 93%
  );

  /* linear-gradient(360deg, rgb(37, 12, 12) 50%); */
}

.work_text {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  font-weight: bold;

  padding: 3% 0%;
}

.overflow {
  max-width: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
}

.dflex {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.center {
  justify-content: center;
}
.font-size {
  font-weight: bold;
}

.font-size1 {
  font-size: 4%;
}

.psize {
  font-size: 1rem;
  opacity: 75%;
}

.heading {
  color: #02f1e6;
  text-align: start;
}

.border_radius {
  width: 3.6%;
  margin-right: 1%;
}

.fit_in_col {
  width: 85%;
  height: 85%;
}

.dflex_footer {
  display: flex;
  align-items: flex-start;
  gap: 1.4rem;

  flex-direction: column;
}

.dflex_icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 7rem;

  padding-right: 0%;
}

.border_icons {
  background-color: white;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 2%;
}
.img_flex {
  display: flex;
  justify-content: end;
}
.footer {
  background-color: black;
  color: white;
  overflow: hidden;
}

.footerMainDiv {
  display: flex;
  width: 100%;
  padding: 0 4%;
}

.stylenone {
  list-style: none;
}

.padding {
  padding-right: 29%;
  font-size: 1.1rem;
}

.marginfooter {
  padding: 3% 0%;
  background-color: #101010;
}

.list_style {
  list-style: none;
}

.border_radius1 {
  width: 5%;
  margin-right: 1%;
}

@media (max-width: 400px) {
  .hide {
    display: none;
  }
}

@media (max-width: 400px) {
  .border_radius {
    width: 6%;
    margin-right: 1%;
  }
}

@media (max-width: 400px) {
  .colm_reverse {
    flex-direction: column-reverse;
  }
}

/* 
@media (max-width: 390px) {
  .colm_reverse {
    
  }
} */

.flex_center {
  display: flex;
  align-items: center;
}
